/* mi-modal.component.scss */
.header-content {
    display: flex;
    align-items: center;
    padding-left:1em;
  }
  
  .modal-title {
    margin-left: 8px; /* Ajusta el espacio según tus necesidades */
    font-size: 1.2em;  /* Ajusta el tamaño del texto si es necesario */
  }